@font-face {
    font-family: "customFont";
    src: url("./fonts/baloo.regular.ttf");

}

@font-face {
    font-family: "hindi";
    src: url("./fonts/ITFDevanagari.ttc");
    /* src: url("./fonts/ITFDevanagari.ttc"); */
}

@font-face {
    font-family: "gujratiFont";
    src: url("./fonts/NotoSansGujarati-Bold.ttf");

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    overflow: hidden;
    background-color: #a2e3f9;
    font-family: "customFont", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.title {
    position: absolute;
    width: 25vw;
    height: 15vw;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    color: white;
    font-size: 2.8vw;
    text-align: center;
    text-decoration: none;
}

.image1,
.image2,
.image3 {
    width: 100%;
}

.image1 {
    width: 100%;
    position: absolute;
    object-fit: cover;
    left: 50%;
    top: 108%;
    transform: translate(-50%, -50%);
}

.image2 {
    position: absolute;
    left: 55%;
    top: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;

}

.image3 {
    position: absolute;
    left: 50%;
    top: 110%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.container {
    position: absolute;
    width: 80vw;
    height: 34vw;
    top: 133%;
    left: 17%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container p {
    width: 50%;
    color: #9a3d4c;
    font-size: 2.5vw;
}

.container img {
    width: 38vw;
    object-fit: contain;
}

nav {
    width: 94vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3vh 2vw;
    z-index: 10;
}

.translate-button-container {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7vw;
    background-color: #4a51ab;
    border-radius: 3vw;
    padding: 0.6vw 0.7vw;
    height: 2.9vw;
}

.translate-button {
    background-color: white;
    border: 0.2vw solid black;
    border-radius: 2vw;
    width: 2vw;
    height: 2vw;
    display: grid;
    place-items: center;
    cursor: pointer;
    font-size: 1vw;
    font-weight: bold;
    color: black;

}

.translate-button:hover {
    transform: scale(1.15);
}